.chosen-container {
	&.chosen-container-active .chosen-choices{
		box-shadow: none !important;
		li.search-field input[type="text"]{
			height: auto;
		}
	}
	.chosen-drop{
		margin-top: -1em;
		border:1px solid $browngray;
		.result-selected{
			display: none;
		}
	}
	.chosen-choices{
		border:1px solid $browngray;
		margin-bottom: 1em;
		padding: 5px 7.5px;
		li.search-choice{
			border-radius: 0;
			background: transparent;
			border: 1px solid $browngray;
		}
		li.search-field input[type="text"]{
			height: auto !important;
		}
	}
	.chosen-results li.highlighted{
		background: $browngray;
	}
	.chosen-choices li.search-choice {
		color: $white;
		box-shadow: none;
		background: $browngray;
		.search-choice-close{
			background: transparent;
			font-size: 100%;
			&:after{
				font-family: 'FontAwesome';
				content: '\f00d';
				color: $white;
			}
		}
	}
}