.forum{
	.item {
		@include clearfix();
		padding: 0.5em;
		border-bottom: 1px solid $browngray;
		&.invert {
			color: $white;
			background: $browngray;
		}
		.avatar{
			float: left;
			margin-right: 2em;
		}
		.reply{
			float: left;
			width: 92%;
			code{
				background: $browngray;
				padding: 2.5px;
				display: block;
				margin: 2px 0;
				color: $white;
			}
		}
		.content {
			a {
				text-decoration: none;
				text-transform: capitalize;
				font-weight: bolder;
				display: block;
			}
			p {
				font-size: 75%;
				a{
					display: inline;
					text-transform: none;
					font-weight: normal;
					text-decoration: underline;
				}
			}
			float: left;
		}
		.meta {
			float: right;
			width: 10%;
			text-align: center;
		}
	}
}