.dropdown-menu{
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	border: 1px solid $browngray;
	margin: 0 !important;
	border-top: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: $browngray;
}
.dropdown-menu>li>a, .mention_username{
	color: $browngray;
	text-decoration: none;
	font-weight: bolder !important;
}