#toast-container {
	display: block;
	position: fixed;
	z-index: 1001;
	bottom: 2.5%;
	right: 0%;
	width: 100%;
}

.toast {
	float: right;
	clear: both;
	top: 0;
	margin-top: 10px;
	position: relative;
	line-height: 48px;
	background-color: $browngray;
	padding: 0 25px;
	color: $white;
	border: 1px solid $white;
	border-right: none;
	a{
		color: $white;
	}
}

.close-toast{
	background: $white;
	padding: 0 5px;
	text-decoration: none;
	font-weight: bolder;
}