@include color();
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.float-none{
	float: none;
}
.clear{
	clear: both;
}
.clearfix{
	@include clearfix();
}
.font-bold{
	font-weight: bolder;
}
.font-italic{
	font-style: italic;
}
.font-normal, .font-normal > *{
	font-weight: normal !important;
}
.font-small{
	font-size: 75%;
}
.half{
	width: 50%;
	float: left;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.display-block, .only-large, .hidden-print{
	display: block;
}
.decoration-none{
	text-decoration: none;
}
.display-none, .only-small, .close-reply, .visible-print{
	display: none;
}
.margin-top-one{
	margin-top: 1em !important;
}
.margin-top-one-half{
	margin-top: 1.5em !important;
}
.margin-top-half{
	margin-top: 0.5em !important;
}
.margin-top-minus-one{
	margin-top: -1em;
}
.margin-bottom-one{
	margin-bottom: 1em !important;
}
.margin-bottom-half{
	margin-bottom: 0.5em !important;
}
.margin-bottom-none{
	margin-bottom: 0 !important;
}
.margin-right-one{
	margin-right: 1em;
}
.fa-15x{
	font-size: 1.5em;
}
.green{
	&-background {
		background: $green;
	}
	&-color{
		color: $green;
	}
}

.red{
	&-background {
		background: $red;
	}
	&-color{
		color: $red;
	}
}
.position-relative{
	position: relative;
}

.log-emergency{
	padding: 1em;
	border: 2px solid darken($red, 25%);
}
.log-alert{
	padding: 1em;
	border: 2px solid darken($red, 18.75%);
}
.log-critical{
	padding: 1em;
	border: 2px solid darken($red, 12.5%);
}
.log-error {
	padding: 1em;
	border: 2px solid darken($red, 6.25%);
}
.log-warning{
	padding: 1em;
	border: 2px solid darken($orange, 25%);
}
.log-notice{
	padding: 1em;
	border: 2px solid darken($orange, 12.5%);
}
.log-info{
	padding: 1em;
	border: 2px solid darken($blue, 25%);
}
.log-debug{
	padding: 1em;
	border: 2px solid darken($blue, 12.5%);
}